
.footer-social-twitter__content {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 103px;
    margin-top: 40px;

    border-radius: 5px;
    background-color: #597275;
}

.footer-social-twitter__image {
    width: 58px;
    height: 48px;
    margin: 24px 30px auto 30px;
}

.footer-social-twitter__text {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.571;

    margin-top: -14px;
    padding-right: 14px;

    color: #b5c7c9;
}

.footer-social-twitter__mention {
    font-weight: bold;

    text-decoration: underline;
}
