.social {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    margin: 60px auto 0 auto;

    background-color: #637f83;
}
.social__text {
    width: 100%;
    margin: 44px auto 37px auto;

    text-align: center;

    color: white;
}

.social__text .social__subtext {
    font-weight: 300;
}

.social__line {
    width: 1170px;
    height: 2px;
}

.social__connect {
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding-bottom: 48px;

    gap: 30px;
}
