.portfolio {
    align-items: center;

    width: 100%;
    max-width: 1170px;
    margin: 22px auto 0 auto;
}
.portfolio__text {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    margin-top: 50px;
}
.portfolio__subtitle {
    font-weight: 300;
}
.controls {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 22px auto;

    gap: 10px;
}

.controls .controls__line {
    width: 1170px;
    height: 2px;
}
.folios__image {
    margin-top: 20px;
}
.portfolio__button {
    font-size: 18px;
    font-weight: 700;

    display: block;

    width: 151px;
    height: 41px;
    margin: 39px auto 60px auto;

    color: white;
    border: none;
    border-radius: 5px;
    background-color: rgb(228, 85, 29);
}
