.social__subscribe-content {
    display: column;

    margin: 36px auto 0 auto;
}

.social__subscribe-info {
    display: flex;

    margin-bottom: 27px;
}

.social__subscribe-image {
    width: 40px;
    height: 32px;
}

.social__subscribe-text {
    margin-left: 20px;

    color: #ffffff;
}

.social__subscribe-title {
    font-size: 18px;
}

.social__subscribe-subtitle {
    font-size: 14px;
}

.social__subscribe-form {
    display: flex;

    gap: 11px;
}

.social__subscribe-input {
    width: 459px;
    height: 40px;

    border-radius: 5px;
    background-color: #597275;
}

.social__subscribe-button {
    font-size: 18px;
    font-weight: 700;

    width: 100px;
    height: 40px;

    color: white;
    border: none;
    border-radius: 5px;
    background-color: #597275;
}
