.subscribe__content {
    display: column;

    margin: 36px auto 0 auto;
}
.subscribe__info {
    display: flex;

    margin-bottom: 27px;
}
.subscribe__image {
    width: 40px;
    height: 32px;
}
.subscribe__text {
    margin-left: 20px;

    color: white;
}
.subscribe__title {
    font-size: 18px;
}
.subscribe__subtext {
    font-size: 14px;
}
.subscribe__button {
    font-size: 18px;
    font-weight: 700;

    width: 100px;
    height: 40px;

    color: white;
    border: none;
    border-radius: 5px;
    background-color: rgb(89, 114, 117);
}
.subscribe__form {
    display: flex;

    gap: 11px;
}
.subscribe__input {
    width: 459px;
    height: 40px;

    border-radius: 5px;
    background-color: rgb(89, 114, 117);
}
