
.twitter__content {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 103px;
    margin-top: 40px;

    border-radius: 5px;
    background-color: rgb(89, 114, 117);
}
.twitter__image {
    width: 58px;
    height: 48px;
    margin: 24px 30px auto 30px;
}
.twitter__text {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.571;

    margin-top: -14px;
    padding-right: 14px;

    color: rgb(181, 199, 201);
}
.twitter__mention {
    font-weight: bold;

    text-decoration: underline;
}
